.blackCont
  h3 SUMMARY OF ME
  h4 I'm a fledgling web developer...
  .textCont
    p
      |...and I'm looking for a career.  I spent a youth doing computers as a hobby
      |and music as a job.  When I became aged and learned that I like money more
      |than I had previously thought, I switched them.  So I went back to school and
      |learned how to code, studying Java, C#, Android and even a little robotics.
    p
      |Along the way, a combination of curiosity, industry trends, and friends
      |working in the field led me back to the web.  And when I renewed my interest,
      |with the wide world of JavaScript and the wonders of the modern web waiting
      |for me, I knew I had discovered what hath floated mine boat.
    p
      |Now, I'm building my own stuff and putting myself and my growing talents
      |out into the pool of available junior web developers.  I'm looking for an
      |employer who values talent, motivation, and passion for learning.  Contact me
      |if you're in the market for an employee that's hungry and ready to jump in
      |head first!
.blackCont
  h3 SKILLS AND TALENTS
  h4 Web Development / Design
  .textCont
    h5 Layout
    p HTML || Jade/Pug
    p CSS || Sass | Bootstrap | Responsive Design
    h5 Front
    p JavaScript || Angular.js | Ember.js | JQuery | ES6
    h5 Back
    p Node || Express
    p MongoDB || Mongoose
    h5 Deployment / Team
    p Heroku | Gulp | GitHub | Pivotal Tracker | Trello
  h4 Code / Computers
  .textCont
    h5 Compiled Languages
    p Java || Android
    p C# || Visual Studio
    h5 Operating Systems
    p Linux || Ubuntu | Fedora | CentOS
    p Windows || Often
    p OSX || Not unless forced
    h5 Computers / General
    p System Building | Networking | Home Automation
.blackCont
  h3 PROJECTS - AVAILABLE ON GITHUB!
  h4 This Website
  .textCont
    h5 Tech - MEAN (MongoDB, Express, Angular, Node)
    p
      |My web presence and blog.  Also, my first experience building a back-end
      |using JavaScript.  Uses Angular.js 1.5.8 just to say I did it.
    a(href='http://github.com/eturner13/homepage', target='_blank') Github Project
  h4 Domovoi
  .textCont
    h5 Tech - Ember
    p
      |Still an early work in progress, Domovoi is meant to provide a web-based
      |tool for home automation, specifically cameras and lighting.  Built to
      |become familiar with Ember, which is quickly becoming my favorite
      |front-end framework.
    a(href='http://github.com/eturner13/domovoi-app', target='_blank') Github Project
.blackCont
  h3 HOBBIES AND LEISURE AND ACTIVITIES
  h4 When I'm not coding...
  .textCont
    h5 Music
    p
      |Much more of a hobby these days, but I still love writing, recording
      |and performing when I can.  I play with a band named "If Machines Spoke
      |in Riddles".  I think we have Facebook.
    h5 Coaching Soccer
    p
      |I have the privilege of coaching my son's u12 team, the Bandits.
      |My job is mostly yelling at children to remind them they're playing soccer.
      |It's pretty much the greatest.
    h5 Roller Coasters
    p
      |A theme park addict, I can tell what company made what coaster
      |by simply looking at the track.  I keep a profile at coaster-count.com.
      |I'm at 63 thus far with many more to come.
