extends layout

block content
  h2 Edit post
  form(novalidate)
    h6 Title
    input(type='text', ng-model='entry.title')
    h6 Body
    textarea(ng-model='entry.body', cols='100', rows='15')
    button(ng-click='submitPost()') Add Post
