header
  .cover.flexHorz
    .blackCont
      h1 ERIC #[span(style='color: #8bc34a') G] TURNER
      h2 Web Developer - Gadget Enthusiast
      .flexHorz.links
        a(href='/documents/EGTurnerResume.pdf', target='_blank') PDF Resume
        a(href='http://linkedin.com/in/eturner13', target='_blank') LinkedIn
        a(href='http://github.com/eturner13', target='_blank') GitHub
        a(href='mailto:turner.eric.g@gmail.com') Contact
