head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Exo+2|Titillium+Web:400,700')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js')
  script(src='/javascripts/app.js')
  base(href='/')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
