extends layout

block content
  .contentWrapper.flexHorz
    .blackCont.nav
      h3 NAV
      h4 {{posts.length + 1}} blog posts
      .textCont
        a(href="/") About Me
        div(ng-repeat="post in posts | orderBy: '-created_at'")
          a(href="/{{post._id}}") {{post.title}}
    .content
      div(ng-view)
