.flexHorz {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.flexVert {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .flexHorz {
        flex-flow: column;
    }
}